
body{
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 87.5;
    background-color: rgb(76, 75, 74);
    background-image: url("assets/Eye_Background.png"); 
    background-repeat: repeat;
    background-size: 160px 160px;
    h1{
        -webkit-text-stroke: #340904 0.1px;
    color:#62140b;
    font-size: 100px;
    text-shadow:
2px 2px 4px rgba(0,0,0,0.5), 
0px 0px 2px rgba(0,0,0,0.3);
}
    h2 {
        -webkit-text-stroke: #100f0f 0.1px;
    color: #2c3131;
    font-size: 55px;
    text-shadow:
2px 2px 4px rgba(0,0,0,0.5), 
0px 0px 2px rgba(0,0,0,0.3);
}

h3 {
    -webkit-text-stroke: #100f0f 0.1px;
    color: #b5b0a4;
    font-size: 40px;
    text-shadow:
2px 2px 4px rgba(0,0,0,0.5), 
0px 0px 2px rgba(0,0,0,0.3);
}

.container {
/* max-width: 1440px; */
display: grid;
align-items: start;
justify-items: center;
gap: 20px;
padding-top: 7px;
grid-template-columns: repeat(12, 1fr);
grid-template-areas:
". . . . . . . . . . . ."
". . d d d d d d d d . ."
". . d d d d d d d d . ."
". . a a a a a . c e . ."
". . b b b b b . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . .";
gap: 1.25 rem;

.image {
    display: block;
    margin: 0 auto;
    max-height: 450px;
    width: 820px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.header h1 {
margin: 10px auto 0 auto; 
padding: 0;
box-sizing: border-box;
}

.subheader h2 {
margin: 0;
padding: 0;
text-align: center;
justify-self: start;
margin: 10px auto 0 auto;
}

.logo {
width: 95px; 
height: 95px;
display: block;
margin: 0;
padding: 30px;
}
}

.header { grid-area: a;}

.subheader { grid-area: b;}

.logo { grid-area: c;}

.image { grid-area: d;}

.subhead3 { grid-area: e;}

#linkedinlogo{
    max-width: 90px;
    fill:#62140b;
}

#linkedinlogo:hover{
    fill: #ccc6bc;
    max-width: 95px;
    transition: all 0.2s ease-in-out;
}
 
.image:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}
   



}